body {
    background: 
        linear-gradient(
      rgba(255, 255, 255, 0.20), 
      rgba(255, 255, 255, 0.20)
    ),
        url("https://images.squarespace-cdn.com/content/v1/64023c727d993a7d256ab93c/1755857261522-RJGH1T374UF9LHNJOFGP/atardecer+tranquilo.jpg?format=1000w");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}


a {
    color: #D58FAA;
}

.container {
    margin:  120px auto;
    max-width: 600px;
}

h1 {
    text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;

}

header {
    margin-top: 30px;
}



form {
    display: flex;
   
}
.form-container {
    padding: 30px;
    background-color: white;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    border-radius: 10px; 
    margin-bottom: 30px;
}
.hint {
    line-height: 1.5;
    margin-top: 5px;
    opacity: 0.6;
    font-size: 12px;

}
.instructions {
    padding: 16px;
    border: 1px solid rgba(39, 33, 66, 0.5);
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    color: #272044;
}
.submit-button {
    margin-left: 10px;
    background: #D58FAA;
    color: white;
    border: none;
    width: 150px;
    font-size: 16px;
    border-radius: 50px;
    padding: 14px 25px;

}
.quote {
    font-size: 16px;
    background: white;
    padding: 20px;
    line-height: 2;
    border-left:3px solid #D58FAA; 
    box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);

}
.hidden {
    display: none;
}

footer {
     text-align: center;
     font-size: 13px;
     margin-top: 30px;

}

.quote strong {
  color: #D58FAA;
  font-weight: bold;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}